@media (max-width: 768px) {
    /* Navbar */
        #navbarbrand {
            display: none;
        }
        .navbar .nav-item {
            text-align:center;
        }
        #colection {
            margin-left: 1.5em;
        }
    /* Jumbotron */
        #bag {
        display: none;
        }
        #bag2 {
            display: inline-block;
            position: absolute;
            margin-left: 85%;
            margin-top: -40px;
            z-index: 1100;
        }
        #logo-mobile{
            display: block;
            position: absolute;
            margin-left: 5.5em;
            margin-top: -15em;
        }
    /* Garis Variasi */
        .line {
            margin-left: 26%;
        }
}/*Media Query*/
